<div class='container bg-dark mb-5'>
  <h1 class="display-2 text-center text-warning">Star Wars movies</h1>
</div>
<div class="container">
  <div class="row">
    <% @films.each do |film| %>
      <div class="col-md-3 col-lg-2 col-sm-6" >
        <div class="card mb-4" >
          <a href="<%= film_path(film) %>" class="link-dark">
            <img src="<%= film.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= film.title %></h5>
              <%# <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6> %>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
