<div class='container mb-5'>
  <div class='row'>
    <div class='col'>
      <h6 class="display-6 text-warning p-0">About this page</h5>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col'>
      <p class='text-light'>
        This project pulls all the data from <a href='https://swapi.dev/' target='_blank' class='link link-warning' >SWAPI<a> in JSON format. It populates the DB with information from films, planets, species and characters.
          </p>
          <p class='text-light'>
            This project is done by Daniel Pescador for the full-stack course at RRC.
          </p>
          <p class='text-light'>
            You can find the code in <a class='btn btn-outline-warning' target='_blank'href="https://github.com/Thremulant/star-wars-rails">GitHub</a>
          </p>
        </div>
      </div>
    </div>
